 .u-section-1 {
  background-image: url("images/GameScreenshot-Purple1.png");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: 150px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 70px);
  left: 0;
  right: auto;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 70px);
  left: 0;
  right: auto;
  min-height: 738px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 17px;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  --animation-custom_in-translate_x: -25px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 403px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 40px;
  height: 40px;
  --animation-custom_in-translate_x: -25px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 40px;
  height: 40px;
  --animation-custom_in-translate_x: -25px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 40px;
  height: 40px;
  --animation-custom_in-translate_x: -25px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -25px;
  --animation-custom_in-scale: 1;
  margin: 11px 1px 0;
}

.u-section-1 .u-shape-3 {
  width: 150px;
  background-image: none;
  left: auto;
  right: 0;
  height: 738px;
}

.u-section-1 .u-group-2 {
  width: 150px;
  background-image: none;
  left: auto;
  right: 0;
  min-height: 738px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 530px auto 0;
}

.u-section-1 .u-group-3 {
  width: 750px;
  height: auto;
  min-height: 738px;
  margin: 0 calc(((100% - 1140px) / 2) + 100px) 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-3 {
  width: auto;
  margin: 143px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 70px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 70px);
    min-height: auto;
  }

  .u-section-1 .u-icon-2 {
    width: 37px;
    height: 37px;
  }

  .u-section-1 .u-icon-3 {
    width: 37px;
    height: 37px;
  }

  .u-section-1 .u-icon-4 {
    width: 37px;
    height: 37px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-shape-3 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: auto;
  }

  .u-section-1 .u-icon-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-1 .u-group-3 {
    width: 770px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 70px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 70px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 70px);
    min-height: auto;
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 720px) / 2) + 650px);
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 70px);
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 540px) / 2) + 470px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 70px);
    min-height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 159px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: url("images/C21.png");
  min-height: 740px;
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 290px);
  min-height: 740px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  font-weight: normal;
  margin: 151px auto 0 0;
}

.u-section-2 .u-group-2 {
  margin-top: 178px;
  margin-bottom: 0;
  min-height: 267px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-group-3 {
  width: calc(((100% - 1140px) / 2) + 850px);
  min-height: 500px;
  height: auto;
  margin: -769px 0 60px auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 40px;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 234px;
  margin: 172px 44px 0 auto;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: -50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -376px 30px 0;
}

.u-section-2 .u-line-1 {
  width: 672px;
  margin: 14px auto 0 103px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: -50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 344px 0 30px;
}

.u-section-2 .u-image-1 {
  width: 241px;
  height: 241px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -134px 44px 0 auto;
}

.u-section-2 .u-accordion-1 {
  width: 543px;
  margin: -93px auto 0 33px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 741px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 290px);
    margin-top: 1px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 940px) / 2) + 650px);
    min-height: 474px;
    margin-top: -740px;
    margin-bottom: 267px;
    height: auto;
  }

  .u-section-2 .u-line-1 {
    width: 472px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 359px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -200px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 290px);
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 279px;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: 50px;
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 720px) / 2) + 430px);
    margin-top: -741px;
    margin-bottom: 266px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: -297px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -214px;
  }

  .u-section-2 .u-line-1 {
    width: 252px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 22px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -319px;
    margin-right: auto;
    margin-left: -288px;
  }

  .u-section-2 .u-accordion-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 803px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 210px);
    min-height: 804px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: 217px;
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 540px) / 2) + 330px);
    min-height: 483px;
    margin-top: -804px;
    margin-bottom: 321px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-line-1 {
    width: 152px;
    margin-left: 99px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-accordion-1 {
    width: 430px;
    margin-top: -93px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1003px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 170px);
    min-height: 405px;
    margin-top: 598px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    margin-top: 122px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-group-2 {
    min-height: 405px;
    width: 220px;
    margin-top: -323px;
    margin-right: -220px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -1003px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 40px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 34px;
    margin-left: auto;
    margin-bottom: -173px;
  }

  .u-section-2 .u-accordion-1 {
    width: 330px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 427px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0 395px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 243px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px 16px 60px -16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 557px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/GameScreenshot-Purple1.png");
  background-position: 50% 50%;
  min-height: 1384px;
}

.u-section-4 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 290px);
  min-height: 1384px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-elements-1 {
  min-height: 180px;
  margin-top: 132px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-group-2 {
  min-height: 180px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-3 {
  min-height: 180px;
  background-image: none;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  line-height: 1;
  margin: 15px 0 0;
}

.u-section-4 .u-line-1 {
  width: 224px;
  margin: -103px auto 0;
}

.u-section-4 .u-group-4 {
  width: 263px;
  min-height: 561px;
  height: auto;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -1244px auto 0 calc(((100% - 1140px) / 2) + 10px);
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 216px;
  height: 216px;
  margin: -103px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 8px 11px 0;
}

.u-section-4 .u-group-5 {
  min-height: 589px;
  height: auto;
  transition-duration: 0.5s;
  width: 274px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -326px auto 0 calc(((100% - 1140px) / 2) + 284px);
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 273px;
  height: 273px;
  margin: -121px -7px 0;
}

.u-section-4 .u-text-4 {
  margin: -10px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 8px 11px 0;
}

.u-section-4 .u-group-6 {
  min-height: 561px;
  height: auto;
  transition-duration: 0.5s;
  width: 259px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -331px calc(((100% - 1140px) / 2) + 311px) 190px auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 204px;
  height: 204px;
  margin: -92px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 8px 11px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1420px;
  }

  .u-section-4 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 290px);
    min-height: 1418px;
    margin-top: 1px;
  }

  .u-section-4 .u-group-3 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(100px) scale(1) rotate(0deg);
  }

  .u-section-4 .u-line-1 {
    height: 1px;
  }

  .u-section-4 .u-group-4 {
    margin-top: -1278px;
    margin-left: calc(((100% - 940px) / 2) + 10px);
    height: auto;
  }

  .u-section-4 .u-group-5 {
    margin-top: -243px;
    margin-left: auto;
    height: auto;
  }

  .u-section-4 .u-group-6 {
    height: auto;
    margin: -229px auto 40px calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1735px;
  }

  .u-section-4 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 290px);
    min-height: 1704px;
  }

  .u-section-4 .u-group-4 {
    width: 301px;
    min-height: 642px;
    margin-top: 170px;
    margin-right: calc(((100% - 720px) / 2) + 19px);
    margin-left: auto;
  }

  .u-section-4 .u-group-5 {
    min-height: 649px;
    width: 302px;
    margin-top: -323px;
    margin-left: calc(((100% - 720px) / 2) + 17px);
  }

  .u-section-4 .u-group-6 {
    min-height: 618px;
    width: 286px;
    margin: -144px calc(((100% - 720px) / 2) + 26px) 60px auto;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1853px;
  }

  .u-section-4 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 290px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-4 {
    min-height: 525px;
    margin-top: 127px;
    margin-right: calc(((100% - 540px) / 2) + -21px);
  }

  .u-section-4 .u-group-5 {
    min-height: 481px;
    width: 317px;
    margin-top: 93px;
    margin-left: calc(((100% - 540px) / 2) + -21px);
  }

  .u-section-4 .u-image-2 {
    width: 287px;
    height: 287px;
    margin-top: -129px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -16px;
  }

  .u-section-4 .u-group-6 {
    min-height: 512px;
    width: 288px;
    margin-top: 76px;
    margin-right: calc(((100% - 540px) / 2) + -18px);
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1786px;
  }

  .u-section-4 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 290px);
  }

  .u-section-4 .u-group-4 {
    margin-top: 57px;
    margin-right: auto;
  }

  .u-section-4 .u-group-5 {
    margin-top: 65px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -15px;
  }

  .u-section-4 .u-group-6 {
    min-height: 497px;
    width: 318px;
    margin-top: 81px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.u-section-4 .u-group-4,
.u-section-4 .u-group-4:before,
.u-section-4 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-group-4.u-group-4.u-group-4:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-group-4.u-group-4.u-group-4.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-group-5,
.u-section-4 .u-group-5:before,
.u-section-4 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-group-5.u-group-5.u-group-5:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-group-5.u-group-5.u-group-5.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-group-6,
.u-section-4 .u-group-6:before,
.u-section-4 .u-group-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-group-6.u-group-6.u-group-6:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-group-6.u-group-6.u-group-6.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-group-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-group-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: url("images/GameScreenshot-Purple1.png");
  background-position: 50% 50%;
  min-height: 580px;
}

.u-section-5 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 850px);
  left: 0;
  right: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  height: 417px;
  margin: 51px 18px 0 372px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -368px auto 0 41px;
}

.u-section-5 .u-line-1 {
  width: 97px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 41px;
}

.u-section-5 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  --animation-custom_in-translate_x: -50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 41px;
}

.u-section-5 .u-icon-1 {
  height: 32px;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 32px;
}

.u-section-5 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  --animation-custom_in-translate_x: -50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -3660px auto 0;
}

.u-section-5 .u-icon-5 {
  height: 32px;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

.u-section-5 .u-icon-7 {
  height: 100%;
}

.u-section-5 .u-icon-8 {
  height: 32px;
}

.u-section-5 .u-shape-1 {
  width: 200px;
  height: 197px;
  --animation-custom_in-scale: 0.3;
  margin: -98px calc(((100% - 1140px) / 2) + 190px) 482px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 581px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -395px;
  }

  .u-section-5 .u-shape-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-top: -678px;
    margin-right: calc(((100% - 940px) / 2) + 190px);
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 571px;
  }

  .u-section-5 .u-form-1 {
    width: 410px;
    margin-right: 0;
    margin-left: 350px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -355px;
    margin-left: 51px;
  }

  .u-section-5 .u-line-1 {
    margin-left: 51px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 51px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 190px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 428px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 243px;
    margin-right: 30px;
    margin-left: 180px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -645px;
    margin-left: 33px;
  }

  .u-section-5 .u-line-1 {
    margin-left: 33px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 33px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 190px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 775px;
  }

  .u-section-5 .u-group-1 {
    min-height: 775px;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
    margin-top: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -666px;
    margin-left: auto;
  }

  .u-section-5 .u-line-1 {
    margin-left: 76px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 76px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: calc(((100% - 340px) / 2) + 140px);
  }
}.headerGlass {
	 background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-bottom-left-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.38);
}
.backgroundBlur {
	filter: blur(16px);
	-webkit-filter: blur(16px);
}
.leftSideBorder {
	border-left: 1px solid;
	border-right: 0px;
	border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
}
.rightSideBorder {
	background: linear-gradient(135deg, rgba(50, 50, 50, 0.4), rgba(0, 0, 0, 0.3));
	border-left: 0px;
	border-right: 1px solid;
	border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
}
.centerTop {
	background: linear-gradient(135deg, rgba(50, 50, 50, 0.3), rgba(0, 0, 0, 0.2));
		border-left: 1px solid;
	border-right: 0px;
	border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
}
.bottomGradient {
	background: linear-gradient(180, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.links {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
}
li {
	display: inline-block;
	padding-left: 10px;
}
li a {
  font-size: 18px;
  color: #F3E8EE;
  text-decoration: none;
  transition: 0.3s;
}
.backgroundParallax {
	background-attachment: fixed;
	background-position: center;
}
.figureGlass {
	 background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.38);
}
.rightHandProjectsContainer {
	position: sticky;
}