@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rajdhani&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: #1A1423;
    background-image: linear-gradient(135deg, #5126C770, #5126C770);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

@keyframes showHeader {
    from {
        transform : translateY(-100%);
        opacity   : 0;
    }
    to {
        transform : translateY(-1%);
        opacity   : 1;
    }
}

#site-header {
	position: fixed;
	position: -webkit-fixed;
	top: 0;
	z-index: 2;
	width: 100%;
    height: 110px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-bottom-left-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
	animation: showHeader 1s 1 forwards;
	transition: all .3s ease;
}

#site-header.hide {
	top: -111px;
}

.leftSide{
    max-height: auto;
    min-width: 25%;
    opacity: 0;
    animation: left 1s 0.5s 1 forwards;
    padding-left: 5vw;
}

.headerLogo {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 200;
	font-size: 24px;
    color: #F3E8EE;
    text-decoration: none;
    transition: 0.3s;
}

.headerLogo:hover {
	color: #F7AEF8;
    transform: scale(1.1);
}

@keyframes left {
    from {
        transform : translateX(-100%);
        opacity   : 0;
    }
    to {
        transform : translateX(0%);
        opacity   : 1;
    }
}

.menu {
    opacity   : 0;
    min-height: auto;
    min-width: 25%;
    animation: right 1s 0.5s 1 forwards;
}

@keyframes right {
    from {
        transform : translateX(100%);
        opacity   : 0;
    }
    to {
        transform : translateX(0%);
        opacity   : 1;
    }
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
    padding-right: 20px;
}

li a {
    font-size: 18px;
    color: #F3E8EE;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #F7AEF8;
    transform: scale(1.1);
}

.cover {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url(images/GameScreenshot-Purple.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.left1 {
	height: 100%;
	width: 25%;
	border-left: 0px;
    border-right: 1px solid;
    border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right1 {
	height: 100%;
	width: 75%;
	border-bottom: 1px solid #1A1423;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	justify-content: center;
	align-items: center;
	display: flex;
	background: linear-gradient(135deg, rgba(50, 50, 50, 0.3), rgba(0, 0, 0, 0.2));
}

.slideElement {
	width: 100%;
	height: 100%;
}

.coverText {
	margin-left: 4vh;
	opacity: 0;
	padding-top: 110px;
	width: 50%;
	height: 70%;
	font-size: 140px;
    font-size: 14vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #F3E8EE;
	display:table-caption;
	word-spacing: 9999rem;
	animation: slideIn 1s 0.5s 1 forwards;
}

.textCover {
	z-index: 999;
	background-color: #5126C7;
	opacity: 0;
}

.textCover2.start {
	z-index: 999;
	background-color: #5126C7;
	opacity: 0;
	animation: blockText 1s forwards;
}

.textCover3.start {
	z-index: 999;
	background-color: #5126C7;
	opacity: 0;
	animation: blockText 1s 0.5s forwards;
}

.textCover4.start {
	z-index: 999;
	background-color: #5126C7;
	opacity: 0;
	animation: blockText 1s 0.75s forwards;
}

.textCover5.start {
	z-index: 999;
	background-color: #5126C7;
	opacity: 0;
	animation: blockText 1s 1s forwards;
}

.textCoverUp.start {
	z-index: 999;
	background-color: #1A1423;
	opacity: 1;
	animation: swipeUp 1s 0.25s 1 forwards;
}

@keyframes slideIn {
    from {
		opacity: 0;
    }
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
    to {
		opacity: 1;
    }
}

@keyframes blockText {
    from {
        transform : translateX(50%) scale(0, 1);
		opacity: 1;
		animation-timing-function: ease-in;
    }
	45% {
		transform : translateX(0%) scale(1, 1);
		opacity: 1;
	}
	55% {
		transform : translateX(0%) scale(1, 1);
		opacity: 1;
	}
    to {
        transform : translateX(-50%) scale(0, 1);
		opacity: 1;
		animation-timing-function: ease-out;
    }
}

@keyframes swipeUp {
	from {
		transform : translateY(0%) scale(1, 1);
		opacity: 1;
	}
    to {
        transform : translateY(-50%) scale(1, 0);
		opacity: 1;
		animation-timing-function: ease-out;
    }
}

.secondary {
	height: 2000px;
}

.splitLeft {
	width: 35%;
	height: 100%;
	background: linear-gradient(135deg, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.6));
	border-left: 0px;
    border-right: 1px solid;
    border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
    justify-content: center;
    align-items: flex-end;
    padding-left: 1vw;
}

.blankRight {
	width: 65%;
	height: 100%;
}

.rightCol {
    width: 15%;
    height: 100%;
    background-color: #7126C7;
    border-left: 1px solid;
    border-right: 0px;
    border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
	display: flex;
	justify-content: center;
    align-items: flex-end;
}

.secondary {
	background-color: #1A1423;
	height: 100vh;
}

.forceBottom {
    position: absolute;
    bottom: 0;
    height: 36vh;
    display: flex;
    align-items: center;
    width: 35%;
}

.links {
    opacity: 0;
    animation: left 1s 0.25s 1 forwards; 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.res {
	opacity: 0
}

.res.start {
    opacity: 0;
    animation: left 1s 0.25s 1 forwards; 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.fa-brands {
    color: #F3E8EE;
    transition: 0.3s;
}

.fa-brands:hover {
    color: #7126C7;
    transform: scale(1.1);
}

.scroll {
	position: absolute;
    bottom: 0;
	padding: 5px;
	height: 80px;
	border: 1px solid #F3E8EE;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;	
	-o-border-radius: 15px;
	margin-bottom: 4vh;
	display: flex;
	justify-content: center;
	opacity: 0;
	animation: right 1s 0.5s 1 forwards;
}

.scrollBall {
	width: 20px;
	height: 20px;
	background-color: #F3E8EE;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	animation: scrollAnim 2.5s 2.5s infinite;
	opacity: 0;
}

@keyframes scrollAnim {
    from {
        transform : translateY(0%);
		opacity: 0;
		animation-timing-function: ease-in;
    }
	10% {
		transform : translateY(0%);
		opacity: 1;
		animation-timing-function: ease-in;
	}
    90% {
        transform : translateY(300%);
		opacity: 0;
		animation-timing-function: ease-out;
    }
	to {
		transform : translateY(300%);
		opacity: 0;
	}
}

.left2 {
	height: 100%;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F3E8EE;
}

.right2 {
	height: 100%;
	width: 75%;
	align-items: center;
	display: inline-block;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.top2 {
	height: 75vh;
	width: inherit;
	position: absolute;
	top: 100vh;
	right: 0;
	border-left: 1px solid #1A1423;
}

.bottom2 {
	height: 25vh;
	width: inherit;
	position: absolute;
	background-color: #F3E8EE;
	top: 175vh;
	right: 0;
	border-left: 1px dashed #1A1423;
}

.aboutMe {
	opacity: 0;
}

.who {
	opacity: 0;
}

.aboutMe.start {
	opacity: 0;
	color: #F3E8EE;
	margin-top: 3vh;
	margin-left: 5vw;
	animation: slideIn 1s 0.1s 1 forwards;
}

.who.start {
	opacity: 0;
	color: #F3E8EE;
	margin-left: 5vw;
	margin-top: 0;
	font-size: 3em;
	animation: slideIn 1s 0.1s 1 forwards;
}

@keyframes fadeIn {
    from {
		opacity: 0;
    }
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
    to {
		opacity: 1;
    }
}

.aboutLine {
	margin-left: 25%;
	width: 50%;
	margin-top: 1vh;
}

.desc {
	color: #F3E8EE;
	margin-top: 3vh;
	margin-left: 5vw;
	margin-right: 1vw;
}

.icon {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	width: 20vw;
	height: auto;
}

.container {
	padding-top: 3vh;
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.leftCol {
	position: absolute;
	width: 50%;
	height: auto;
	left: 0;
}

.rightCol2 {
	position: absolute;
	width: 50%;
	height: auto;
	right: 0;
	background-color: none;
	display: flex;
	justify-content: center;
}

.icon.start {
	animation: bobIn 1s 1 forwards;
}

.iconLink {
	transform: scale(1.0);
	transition: all .3s ease;
}

.iconLink:hover {
	transform: scale(1.1);
}

@keyframes bobIn {
    from {
		opacity: 0;
		transform: scale(0.5);
    }
    to {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: scale(1);
    }
}

.accordion {
  background-color: #F3E8EE;
  color: #1A1423;
  cursor: pointer;
  padding: 2vh;
  width: 30vw;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 5vw;
  opacity: 0;
}

.accordion.start {
	animation: slideIn 1s 0.1s 1 forwards;
}

.active .accordion:hover {
  background-color: #F7AEF8;
}

.panel {
  padding: 0 18px;
  background-color: #F3E8EE;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 5vw;
}

.quote {
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 15vh;
	font-size: 4em;
}

.quote.start {
	animation: slideIn 1s 0.1s 1 forwards;
}

.third{
	padding: 5vw;
	background-color: #1A1423;
}

.contrib-column {
	color: #F3E8EE;
}

.ghR {
	opacity: 0;
	width: 100%; 
	text-align: center; 
	color: #F3E8EE; 
	font-size: 3em; 
	margin: 0; 
	margin-bottom: 3vh;
}

.ghR.start {
	animation: slideIn 1s 0.1s 1 forwards;
}

.calendar {
	opacity: 0;
}

.calendar.start {
	animation: fade 0.3s 0.25s 1 forwards;

}

@keyframes fade {
    from {
        opacity   : 0;
    }
    to {
        opacity   : 1;
    }
}

.fourth {
	height: 15vh;
	padding-top: 5vh;
	background-color: #4B1D7F;
}

.m-scroll {
	display: flex;
	position: relative;
	width: 100%;
	height: 5vh;
	margin: auto;
	overflow: hidden;
	z-index: 1;
}
.m-scroll__title {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	transform: scale(2);
	transition: all 1s ease;
}
.m-scroll__title div {
	display: flex;
	animation: scrollText 22s infinite linear;
}
.m-scroll__title p {
	margin: 0;
	font-size: 1em;
	color: #ffffff;
	transition: all 2s ease;
}

.m-scroll__title2 {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	transform: scale(2);
	transition: all 1s ease;
}
.m-scroll__title2 div {
	display: flex;
	animation: scrollText2 22s infinite linear;
}
.m-scroll__title2 p {
	margin: 0;
	font-size: 1em;
	color: #ffffff;
	transition: all 2s ease;
}
@keyframes scrollText {
	from {
		transform: translateX(0%);
   }
	to {
		transform: translateX(-50%);
   }
}

@keyframes scrollText2 {
	from {
		transform: translateX(-50%);
   }
	to {
		transform: translateX(0%);
   }
}

.fifth {
	background-image: url(images/C2.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	gap: 0;
}

.coverDiv {
	display: flex;
	justify-content: space-evenly;
	backdrop-filter: blur(16px);
	width: 75vw;
	border-left: 1px solid #1A1423;
	gap: 2.5vw;
	flex-wrap: wrap;
}

.coverDiv a {
	transition: transform .3s;
}

.leftCover {
	backdrop-filter: blur(16px);
	width: 25vw;
	background-color: #1A1423;
	z-index: 10;
}

.left5{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.38);
	width: 30vw;
	height: auto;
	opacity: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: transform .3s;
}

.left5:hover {
	transform: scale(1.01);
}

.middle5{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.38);
	width: 30vw;
	opacity: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: transform .3s;
}

.middle5:hover {
	transform: scale(1.01);
}

.right5{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.38);
	width: 30vw;
	opacity: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: transform .3s;
}

.right5:hover {
	transform: scale(1.01);
}

.left5 img {
	width: 25vw;
	height: 25vw;
	position: absolute;
	top: -23vh;
}

.middle5 img {
	width: 25vw;
	height: 25vw;
	top: -23vh;
	position: absolute;
}

.right5 img {
	width: 25vw;
	height: 25vw;
	top: -23vh;
	position: absolute;
	border-radius: 50%;
}

.left5 h4 {
	margin-top: 30vh;
	font-size: 2.5em;
	color: #F3E8EE;
	font-family: 'Rajdhani', sans-serif;
	opacity: 0;
}

.middle5 h4 {
	margin-top: 30vh;
	font-size: 2.5em;
	color: #F3E8EE;
	font-family: 'Rajdhani', sans-serif;
	opacity: 0;
}

.right5 h4 {
	margin-top: 30vh;
	font-size: 2.5em;
	color: #F3E8EE;
	font-family: 'Rajdhani', sans-serif;
	opacity: 0;
}

.left5.start {
	animation: moveUp 1s 1 forwards;
}

.middle5.start {
	animation: moveUp 1s 0.25s 1 forwards;
}

.right5.start {
	animation: moveUp 1s 0.5s 1 forwards;
}

.itemText1.start {
	animation: fadeIn 1s 0.45s 1 forwards;
}

.itemText2.start {
	animation: fadeIn 1s 0.7s 1 forwards;
}

.itemText3.start {
	animation: fadeIn 1s 0.95s 1 forwards;
}

@keyframes moveUp {
    from {
        transform : translateY(15%);
        opacity   : 0;
    }
    to {
        transform : translateY(0%);
        opacity   : 1;
    }
}

.cardDescGen {
	font-size: 1.5em;
	color: #F3E8EE;
	margin-left: 1vw;
	opacity: 0;
	font-size: 1.5em;
	margin-top: -3vh;
	margin-bottom: 3vh;
}

.cardDesc1.start {
	animation: fade 1s 0.5s 1 forwards;
}

.cardDesc2.start {
	animation: fade 1s 0.75s 1 forwards;
}

.cardDesc3.start {
	animation: fade 1s 1s 1 forwards;
}

.cardDescGen a {
	color: #5126C7;
	text-decoration: none;
	transition: .3s;
}

.cardDescGen a:hover {
	color: #F7AEF8;
}

.leftHandContainer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	position: sticky;
	top: 24vh;
	margin-top: 24vh;
	margin-bottom: 10vh;
	padding-bottom: 24vh;
}

.leftHandContainer h5 {
	font-size: 2.5em;
	color: #F3E8EE;
	width: 100%;
	text-align: center;
	margin-bottom: 2vh;
}

.leftHandContainer p {
	font-size: 1em;
	color: #F3E8EE;
	width: 100%;
	text-align: center;
	margin-left: 1vw;
	margin-right: 1vw;
	opacity: 1;
}

.leftHandContainer button {
	padding: 1vh 2vw;
	border: 0;
	border-radius: 0;
	color: #F3E8EE;
	background-color: #5126C7;
	transition: .3s;
	cursor: pointer;
}

.leftHandContainer a:hover {
	transform: scale(1.0);
}

.leftHandContainer button:hover {
	background-color: #F7AEF8;
	transform: scale(1.0);
}

.fadeText.start {
	animation: fade 1s 1s 1 forwards;
}

.breakLine {
	margin-left: 32.5%;
	width: 35%;
}

.hideText {
	opacity: 0;
}

.sixth {
	height: 75vh;
	display: flex;
	background-image: url(images/GameScreenshot-Purple.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.leftSideBar {
	width: 25vw;
	height: 75vh;
	-webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.rightContactMenu {
	width: 75vw;
	height: 70vh;
	border-left: 1px solid #1A1423;
	background-color: #1A1423;
	display: flex;
	padding-top: 5vh;
}

.leftContact {
	border-top: 1px solid #1e1e1e;
	width: 100%;
	border-right: 1px dashed #1e1e1e;
}

.rightContact {
	border-top: 1px solid #1e1e1e;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
}

.touch {
	color: #F3E8EE;
	margin-left: 5vw;
	margin-top: 10vh;
}

.contact {
	color: #F3E8EE;
	margin-left: 5vw;
	margin-top: 2vh;
	font-size: 4em;
	font-family: 'Rajdhani', 'sans-serif';
	opacity: 0;
	margin-bottom: 0;
}

.contact.start {
	animation: fadeIn 1s 0.45s 1 forwards;
}

.contactLinks {
	margin-left: 3vw;
	margin-top: 4vh;
}

.contactLine {
	margin-top: 4vh;
	margin-left: 6.5vw;
	width: 5vw;
}

.input-group {
	position: relative;
	height: 4vh;
}

.input {
	padding: 10px;
	border: none;
	border-radius: 4px;
	color: #F3E8EE;
	background-color: transparent;
	outline: 2px solid #fff;
	top: 0;
}

.content-input {
	width: 33vw;
}

.input-label {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(10px, 10px);
	transition: transform .25s;
	color: #F3E8EE;
}

.input:focus+.input-label,
.input:valid+.input-label {
	transform: translate(10px, -10px) scale(.8);
	color: #F3E8EE;
	padding-inline: 5px;
	background-color: #1A1423;
}

.input:is(:focus, :valid) {
	outline-color: #d1c5fc;
}

.submit {
	margin-top: 23.5vh;
	height: 5vh;
	width: 7vw;
	border: 0;
	border-radius: 0;
	color: #F3E8EE;
	background-color: #5126C7;
	transition: .3s;
}

.submit:hover {
	background-color: #F7AEF8;
}

.footer {
	height: 25vh;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	z-index: -5;
	justify-content: space-between;
	background-image: linear-gradient(135deg, #5126C7, #1A1423);
}

.leftFooter {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.rightFooter {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.leftFooter h1 {
	color: #F7AEF8;
	font-family: 'Rajdhani', 'sans-serif';
	font-size: 3em;
	margin-bottom: -6vh;
}

.leftFooter p {
	color: #F7AEF8;
	font-family: 'Rajdhani', 'sans-serif';
	font-size: 1em;
	margin-top: -6vh;
}

.footerLinks {
	margin-top: 7vh;
}

@media (max-width: 575px) {
	
	#site-header {
		position: fixed;
		position: -webkit-fixed;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 110px;
		background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
		border-bottom-left-radius: 16px;
		border: 1px solid rgba(255, 255, 255, 0.38);
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		animation: showHeader 1s 1 forwards;
		transition: all .3s ease;
	}	
	
	#site-header.hide {
		top: -111px;
	}
	
	.leftSide{
		max-height: auto;
		min-width: 100vw;
		opacity: 0;
		animation: showHeader 1s 0.5s 1 forwards;
		transition: all .3s ease;
		display: flex;
		flex-direction: center;
	}

	.headerLogo {
		font-family: 'Rajdhani', sans-serif;
		font-weight: 200;
		font-size: 24px;
		color: #F3E8EE;
		text-decoration: none;
		transition: 0.3s;
		padding-left: 27.5vw;
	}

	.menu {
		display: none;
	}
	
	.cover {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-image: url(images/GameScreenshot-Purple.png);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}

	.left1 {
		display: none;
	}

	.right1 {
		height: 100%;
		width: 100%;
		border-bottom: 1px solid #1A1423;
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		justify-content: center;
		align-items: center;
		display: flex;
		background: linear-gradient(135deg, rgba(50, 50, 50, 0.3), rgba(0, 0, 0, 0.2));
	}

	.slideElement {
		width: 100vw;
		height: 100%;
	}

	.coverText {
		margin-left: 4vh;
		opacity: 0;
		padding-top: 110px;
		width: 50%;
		height: 70%;
		font-size: 140px;
		font-size: 8vh;
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		color: #F3E8EE;
		display:table-caption;
		word-spacing: 9999rem;
		animation: slideIn 1s 0.5s 1 forwards;
	}

	.textCover {
		z-index: 999;
		background-color: #5126C7;
		opacity: 0;
	}

	.textCover2.start {
		z-index: 999;
		background-color: #5126C7;
		opacity: 0;
		animation: blockText 1s forwards;
	}

	.textCover3.start {
		z-index: 999;
		background-color: #5126C7;
		opacity: 0;
		animation: blockText 1s 0.5s forwards;
	}

	.textCover4.start {
		z-index: 999;
		background-color: #5126C7;
		opacity: 0;
		animation: blockText 1s 0.75s forwards;
	}

	.textCover5.start {
		z-index: 999;
		background-color: #5126C7;
		opacity: 0;
		animation: blockText 1s 1s forwards;
	}

	.textCoverUp.start {
		z-index: 999;
		background-color: #1A1423;
		opacity: 1;
		animation: swipeUp 1s 0.25s 1 forwards;
	}

	.secondary {
		height: 2000px;
	}

	.splitLeft {
		width: 35%;
		height: 100%;
		background: linear-gradient(135deg, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.6));
		border-left: 0px;
		border-right: 1px solid;
		border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
		justify-content: center;
		align-items: flex-end;
		padding-left: 1vw;
	}

	.blankRight {
		width: 65%;
		height: 100%;
	}

	.rightCol {
		display: 0;
	}

	.secondary {
		background-color: #1A1423;
		height: 100vh;
	}

	.forceBottom {
		position: absolute;
		bottom: 0;
		height: 36vh;
		display: flex;
		align-items: center;
		width: 35%;
	}

	.links {
		opacity: 0;
		animation: left 1s 0.25s 1 forwards; 
		position: relative; 
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.res {
		opacity: 0
	}

	.res.start {
		opacity: 0;
		animation: left 1s 0.25s 1 forwards; 
		position: relative; 
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.fa-brands {
		color: #F3E8EE;
		transition: 0.3s;
	}

	.fa-brands:hover {
		color: #7126C7;
		transform: scale(1.1);
	}

	.scroll {
		position: absolute;
		bottom: 0;
		padding: 5px;
		height: 80px;
		border: 1px solid #F3E8EE;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;	
		-o-border-radius: 15px;
		margin-bottom: 4vh;
		display: flex;
		justify-content: center;
		opacity: 0;
		animation: right 1s 0.5s 1 forwards;
	}

	.scrollBall {
		width: 20px;
		height: 20px;
		background-color: #F3E8EE;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
		animation: scrollAnim 2.5s 2.5s infinite;
		opacity: 0;
	}
}
