@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #1A1423;
    background-image: linear-gradient(135deg, #5126C770, #5126C770);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

@keyframes showHeader {
    from {
        transform : translateY(-100%);
        opacity   : 0;
    }
    to {
        transform : translateY(-1%);
        opacity   : 1;
    }
}

#site-header {
	position: fixed;
	position: -webkit-fixed;
	top: 0;
	z-index: 2;
	width: 100%;
    height: 110px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-bottom-left-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-betweem;
    align-items: center;
	animation: showHeader 1s 1 forwards;
	transition: all .3s ease;
}

#site-header.hide {
	top: -111px;
}

.leftSide{
    max-height: auto;
    min-width: 25%;
    opacity: 0;
    animation: left 1s 0.5s 1 forwards;
    padding-left: 2vw;
}

.headerImage {
    width: 5vw;
    height: auto;
    transition: transform 0.3s;
}

.headerImage:hover {
    transform: scale(1.1);
}

@keyframes left {
    from {
        transform : translateX(-100%);
        opacity   : 0;
    }
    to {
        transform : translateX(0%);
        opacity   : 1;
    }
}

.menu {
    opacity   : 0;
    min-height: auto;
    min-width: 25%;
    animation: right 1s 0.5s 1 forwards;
}

@keyframes right {
    from {
        transform : translateX(100%);
        opacity   : 0;
    }
    to {
        transform : translateX(0%);
        opacity   : 1;
    }
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
    padding-right: 20px;
}

li a {
    font-size: 18px;
    color: #1A1423;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #F7AEF8;
    transform: scale(1.1);
}

.cover {
	height: 935px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url(images/GameScreenshot-Purple.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.left1 {
	height: 100%;
	width: 25%;
	border-left: 0px;
    border-right: 1px solid;
    border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right1 {
	height: 100%;
	width: 75%;
	border-bottom: 1px solid #1A1423;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	justify-content: center;
	align-items: center;
	display: flex;
	background: linear-gradient(135deg, rgba(50, 50, 50, 0.3), rgba(0, 0, 0, 0.2));
}

.slideElement {
	width: 100%;
	height: 100%;
}

.coverText {
	margin-left: 4vh;
	opacity: 0;
	padding-top: 110px;
	width: 50%;
	height: 70%;
	font-size: 140px;
    font-size: 14vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #F3E8EE;
	display:table-caption;
	word-spacing: 9999rem;
	animation: slideIn 1s 0.5s 1 forwards;
}

.textCover {
	z-index: 999;
	background-color: #5126C7;
	opacity: 0;
}

@keyframes slideIn {
    from {
		opacity: 0;
    }
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
    to {
		opacity: 1;
    }
}

@keyframes textCover {
    from {
        transform : translateX(50%) scale(0, 1);
		opacity: 1;
		animation-timing-function: ease-in;
    }
	45% {
		transform : translateX(0%) scale(1, 1);
		opacity: 1;
	}
	55% {
		transform : translateX(0%) scale(1, 1);
		opacity: 1;
	}
    to {
        transform : translateX(-50%) scale(0, 1);
		opacity: 1;
		animation-timing-function: ease-out;
    }
}

.secondary {
	height: 2000px;
}

.splitLeft {
	width: 35%;
	height: 100%;
	background: linear-gradient(135deg, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.6));
	border-left: 0px;
    border-right: 1px solid;
    border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
    justify-content: center;
    align-items: flex-end;
    padding-left: 1vw;
}

.blankRight {
	width: 65%;
	height: 100%;
}

.rightCol {
    width: 15%;
    height: 100%;
    background-color: #7126C7;
    border-left: 1px solid;
    border-right: 0px;
    border-image: linear-gradient(180deg, #F3E8EE, #1A1423) 0 100%;
	display: flex;
	justify-content: center;
    align-items: flex-end;
}

.secondary {
	background-color: #1A1423;
}

.forceBottom {
    position: absolute;
    bottom: 0;
    height: 36vh;
    display: flex;
    align-items: center;
    width: 35%;
}

.links {
    opacity: 0;
    animation: left 1s 0.25s 1 forwards; 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.fa-brands {
    color: #F3E8EE;
    transition: 0.3s;
}

.fa-brands:hover {
    color: #7126C7;
    transform: scale(1.1);
}

.scroll {
	position: absolute;
    bottom: 0;
	padding: 5px;
	height: 80px;
	border: 1px solid #F3E8EE;
	border-radius: 15px;
	margin-bottom: 4vh;
	display: flex;
	justify-content: center;
	opacity: 0;
	animation: right 1s 0.5s 1 forwards;
}

.scrollBall {
	width: 20px;
	height: 20px;
	background-color: #F3E8EE;
	border-radius: 10px;
	animation: scrollAnim 2.5s 2.5s infinite;
	opacity: 0;
}

@keyframes scrollAnim {
    from {
        transform : translateY(0%);
		opacity: 0;
		animation-timing-function: ease-in;
    }
	10% {
		transform : translateY(0%);
		opacity: 1;
		animation-timing-function: ease-in;
	}
    90% {
        transform : translateY(300%);
		opacity: 0;
		animation-timing-function: ease-out;
    }
	to {
		transform : translateY(300%);
		opacity: 0;
	}
}




